body {
  background-color:lightblue;
}
#title{
	width: 100%;
	margin: auto;
	text-align: center;
	border: 4px solid blue;
	margin-bottom: 5px;
}

.middle{
	display: inline-block;
	height: 1014px;
	padding-top: 10px;
	text-align: center;
	vertical-align: top;
}

.student{
	width: 25%;
	border: 2px solid clear;
}

#game{
	width: 43%;
  height: 100%;
}

#images{
	width: 99.4%;
	height: 153px;
	margin-top: 5px;
	text-align: center;
}

img{
	height: 150px;
	border: 1px solid black;
}

ul{
	text-align: left;
}